---
// src/pages/contact.astro

import Layout from "../layouts/Layout.astro";

---

<Layout>
<div class="min-h-screen  p-4 md:p-8">
  <div       class="bg-white rounded-3xl mx-auto max-w-3xl p-6 md:p-12 shadow-sm border border-gray-100">
    <!-- Header with Back Link -->
  

    <!-- Blog Header -->
    <header class="mb-12">
			  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contact-round"><path d="M16 2v2"/><path d="M17.915 22a6 6 0 0 0-12 0"/><path d="M8 2v2"/><circle cx="12" cy="12" r="4"/><rect x="3" y="4" width="18" height="18" rx="2"/></svg>
      <h1 class="text-4xl font-bold text-gray-900 mt-2">Contact</h1>
      <p class="text-lg text-gray-600 mt-2">
        Reach out!
      </p>
    </header>

    <!-- Blog Posts Grid -->
    <div class="space-y-6">
     
    </div>
  </div>
</div>
</Layout>