---
// src/pages/contact.astro

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="min-h-screen p-4 md:p-8">
    <div
      class="bg-white dark:bg-black rounded-3xl mx-auto max-w-3xl p-6 md:p-12 shadow-sm border border-gray-100 dark:border-neutral-900"
    >
      <!-- Header with Back Link -->

      <!-- Blog Header -->
      <header class="text-gray-900 dark:text-neutral-100 gap-2 flex flex-col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-timer-reset"
          ><path d="M10 2h4"></path><path d="M12 14v-4"></path><path
            d="M4 13a8 8 0 0 1 8-7 8 8 0 1 1-5.3 14L4 17.6"></path><path
            d="M9 17H4v5"></path></svg
        >
        <h1 class="text-4xl font-bold mt-2">Future Content</h1>
        <p class="text-lg text-gray-600 dark:text-neutral-500 mt-2">
          This content doesn't exist yet, but it's in the pipeline.
        </p>
        <a href="/" class="mt-6">
          <div
            class="py-2 text-blue-700 hover:text-blue-500 font-medium flex flex-row gap-2 rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-house"
              ><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path><path
                d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
              ></path></svg
            >
            Take me home
          </div>
        </a>
      </header>
    </div>
  </div>
</Layout>
