---
interface Props {
  label?: string;
  children?: any;
}

const { children } = Astro.props;
---

<div class="group relative bg-neutral-100 dark:bg-neutral-900/70 px-4 h-fit rounded-lg flex flex-row gap-4 items-center justify-start overflow-hidden transition-all duration-500 outline-none hover:outline hover:outline-1 hover:outline-blue-500/50 cursor-pointer">
  <div class="bg-blue-500 w-1 rounded self-stretch z-10 transition-all duration-500 group-hover:-translate-x-8 group-hover:opacity-0 my-4" />
  <div class="text-neutral-500 text-sm group-hover:text-neutral-800 dark:group-hover:text-neutral-300 z-10 group-hover:-translate-x-4 transition-all duration-500">
   <slot />
  </div>
</div>
