<a
  href=`https://twitter.com/share?url=${encodeURIComponent(Astro.url)}&text=Check%20out%20this%20article!`
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Share this article on Twitter"
  class="text-4xl -my-[3] text-black hover:text-blue-500 transition-colors"
  aria-label="Share this article"
>
  𝕏
</a>
